.bar.bar-header
  .h1.title
    Block Buttons

.content.has-header.padding.overflow-scroll
  - %w[light stable positive calm balanced energized assertive royal dark].each do |color|
    %p
      %button.button.button-block{class: "button-#{color}"}
        = "button-#{color}"
