.bar.bar-header
  .h1.title Checkbox

.content.has-header.overflow-scroll
  %ul.list
    %li.item.item-checkbox
      %label.checkbox
        %input{type: "checkbox", checked: true}
      Flux Capacitor

    %li.item.item-checkbox
      %label.checkbox
        %input{type: "checkbox", checked: true}
      1.21 Gigawatts

    %li.item.item-checkbox
      %label.checkbox
        %input{type: "checkbox", checked: true}
      Delorean

    %li.item.item-checkbox
      %label.checkbox
        %input{type: "checkbox", checked: true}
      88 MPH

    %li.item.item-checkbox
      %label.checkbox
        %input{type: "checkbox"}
      Plutonium Resupply
