.bar.bar-header
  .h1.title
    Buttons

.content.has-header.overflow-scroll
  - %w[light stable positive calm balanced energized assertive royal dark].each do |color|
    %p
      %button.button.button-full{class: "button-#{color}"}
        = "button-#{color}"
