.bar.bar-header
  .h1.title
    Icon Buttons

.content.has-header.padding.overflow-scroll
  %p
    %button.button
      %i.icon.ion-loading-c Loading...

  %p
    %button.button.icon-left.ion-home Home

  %p
    %button.button.icon-left.ion-star.button-positive Favorites

  %p
    %a.button.icon-right.ion-chevron-right.button-calm Learn More

  %p
    %a.button.icon-left.ion-chevron-left.button-clear.button-dark Back

  %p
    %button.button.icon.ion-gear-a

  %p
    %a.button.button-icon.icon.ion-settings

  %p
    %a.button.button-outline.icon-right.ion-navicon.button-balanced Reorder
