.bar.bar-header
  .h1.title
    Ionic Demo

.content.has-header.overflow-scroll
  %div.list
    - %w[header subheader content footer buttons].each do |page|
      = link_to "#{page}.html", class: 'item item-icon-right' do
        = page.titleize
        %i.icon.ion-chevron-right
