.bar.bar-header
  .h1.title Radio

.content.has-header.overflow-scroll
  .list
    %label.item.item-radio
      %input{type: 'radio', name: 'my-radio', checked: true}
      .item-content Flux Capacitor
      %i.radio-icon.ion-checkmark

    %label.item.item-radio
      %input{type: 'radio', name: 'my-radio'}
      .item-content 1.21 Gigawatts
      %i.radio-icon.ion-checkmark

    %label.item.item-radio
      %input{type: 'radio', name: 'my-radio'}
      .item-content Delorean
      %i.radio-icon.ion-checkmark

    %label.item.item-radio
      %input{type: 'radio', name: 'my-radio'}
      .item-content 88 MPH
      %i.radio-icon.ion-checkmark

    %label.item.item-radio
      %input{type: 'radio', name: 'my-radio'}
      .item-content Plutonium Resupply
      %i.radio-icon.ion-checkmark
