.bar.bar-header
  %h1.title Header
.bar.bar-subheader
  %h2.title Sub Header

.content.has-subheader.overflow-scroll
  .padding
    %p Remember to include the has-subheader CSS class to your content wrapper
