.bar.bar-header
  .h1.title Toggle

.content.has-header.overflow-scroll
  %ul.list
    %li.item.item-toggle
      HTML5
      %label.toggle.toggle-positive
        %input{type: "checkbox", checked: true}
        .track
          .handle

    %li.item.item-toggle
      CSS3
      %label.toggle.toggle-calm
        %input{type: "checkbox", checked: true}
        .track
          .handle

    %li.item.item-toggle
      Flashplayer
      %label.toggle.toggle-balanced
        %input{type: "checkbox"}
        .track
          .handle

    %li.item.item-toggle
      Java Applets
      %label.toggle.toggle-energized
        %input{type: "checkbox"}
        .track
          .handle

    %li.item.item-toggle
      Javascript
      %label.toggle.toggle-assertive
        %input{type: "checkbox", checked: true}
        .track
          .handle

    %li.item.item-toggle
      Silverlight
      %label.toggle.toggle-royal
        %input{type: "checkbox"}
        .track
          .handle

    %li.item.item-toggle
      Web Components
      %label.toggle.toggle-dark
        %input{type: "checkbox", checked: true}
        .track
          .handle
